@model Biodata

<div class="table-responsive card shadow">
    <table id="pendidikanTerakhir" class=" table text-center table-sm align-middle ">
        <thead class="">
            <tr>
                <th style="width: 150px;">
                    Jenjang Pendidikan Terakhir
                </th>
                <th style="width: 150px;">
                    Nama Institusi Akademik
                </th>
                <th style="width: 150px;">
                    Jurusan
                </th>
                <th style="width: 150px;">
                    Tahun Lulus
                </th>
                <th style="width: 50px;">
                    IPK
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model is null)
            {

            }
            else
            {
                @foreach (var biodata in Model.PendidikanTerakhir)
                {
                    <tr>
                        <td>@biodata.JenjangPendidikanTerakhir</td>
                        <td>@biodata.NamaInstitusiAkademik</td>
                        <td>@biodata.Jurusan</td>
                        <td>@biodata.TahunLulus.ToShortDateString()</td>
                        <td>@biodata.IPK</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
