@model List<PendidikanTerakhir>


<!-- #Pendidikan Terakhir List-->

<div class="table table-responsive">
    <table id="pendidikanTerakhir" class="table text-center align-middle">
        <thead class="">
            <tr class="">
                <th class="col-2 align-content-center">Jenjang Pendidikan Terakhir</th>
                <th class="col-3 align-content-center">
                    Nama Institusi Akademik
                </th>
                <th class="col-2 align-content-center">
                    Jurusan
                </th>
                <th class="col-2 align-content-center">
                    Tahun Lulus
                </th>
                <th class="col-1 align-content-center">
                    IPK
                </th>
                <th class="col-2 align-content-center">
                    Edit Data
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model is null)
            {

            }
            else if (Model.Any(x => x is not null))
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.EditorFor(x => x[i].JenjangPendidikanTerakhir,
                                     new { htmlAttributes = new { @class = "border-0 text-center", @readonly = "readonly" } })
                        </td>
                        <td>
                            @Html.EditorFor(x => x![i].NamaInstitusiAkademik,
                                     new { htmlAttributes = new { @class = "border-0 text-center", @readonly = "readonly" } })
                        </td>
                        <td>
                            @Html.EditorFor(x => x![i].Jurusan,
                                     new { htmlAttributes = new { @class = "border-0 text-center", @readonly = "readonly" } })
                        </td>
                        <td>
                            @Html.EditorFor(x => x![i].TahunLulus,
                                     new { htmlAttributes = new { @class = "border-0 text-center", @readonly = "readonly" } })
                        </td>
                        <td>
                            @Html.EditorFor(x => x![i].IPK,
                                     new { htmlAttributes = new { @class = "border-0 text-center", @readonly = "readonly" } })
                        </td>
                        <td>
                            <div>
                                <a asp-controller="PendidikanTerakhir" asp-action="Update"
                                    asp-route-biodataId="@Model[i].BiodataId" asp-route-id="@Model[i].Id">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>