@model List<RiwayatPekerjaan>

<div class="table table-responsive">
    <table id="pendidikanTerakhir" class="table text-center align-middle">
        <thead class="">
            <tr class="">
                <th class="align-content-center">Nama Perusahaan</th>
                <th class="align-content-center"> Posisi Terakhir </th>
                <th class="align-content-center"> Pendapatan Terakhir </th>
                <th class="align-content-center"> Pendapatan Terakhir </th>
                <th class="align-content-center">Tahun</th>
                <th class="align-content-center"> Edit Data </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any(x => x is not null))
            {
                foreach (var riwayatPekerjaan in Model)
                {
                    <tr>
                        <td>@riwayatPekerjaan.NamaPerusahaan</td>
                        <td>@riwayatPekerjaan.PosisiTerakhir</td>
                        <td>@riwayatPekerjaan.PendapatanTerakhir</td>
                        <td>@riwayatPekerjaan.Tahun</td>
                        <td>
                            <div>
                                <a asp-controller="PendidikanTerakhir" asp-action="Update"
                                    asp-route-biodataId="@riwayatPekerjaan.BiodataId" asp-route-id="@riwayatPekerjaan.Id">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
