@model List<RiwayatPelatihan>

<div class="table table-responsive">
    <table id="riwayatPelatihanTable" class="table text-center align-middle">
        <thead class="">
            <tr class="">
                <th class="align-content-center">Nama Kursus</th>
                <th class="align-content-center">Sertifikat </th>
                <th class="align-content-center">Tahun</th>
                @if (Model is null || Model.Any(x => x is null))
                { }
                else
                {
                    <th class="align-content-center"> Edit Data </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model is null || Model.Any(x => x is null))
            {
            }
            else
            {

                for (var i = 0; i < Model.Count; i++)
                {
                    <input asp-for="@Model[i].Id" hidden aria-hidden="true">
                    <input asp-for="@Model[i].BiodataId" hidden aria-hidden="true">

                    <tr>
                        <td>
                            <input class="border-0 text-center" readonly asp-for="@Model[i].NamaKursus">
                        </td>
                        <td>
                            <input type="checkbox" class="border-0 form-check-input text-center bg-info" readonly
                                onclick="return false" asp-for="@Model[i].SertifikatAda">
                        </td>
                        <td>
                            <input class="border-0 text-center" readonly asp-for="@Model[i].Tahun">
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a class="text-info text-decoration-none" asp-controller="RiwayatPelatihan" asp-action="Update"
                                    asp-route-biodataId="@Model[i].BiodataId" asp-route-id="@Model[i].Id">
                                    <i class="bi bi-pencil mx-1"></i>
                                </a>
                                <a class="text-danger" asp-controller="RiwayatPelatihan" asp-action="Delete"
                                    asp-route-biodataId="@Model[i].BiodataId" asp-route-id="@Model[i].Id"
                                    onclick="pelatihanDelete(this, event)">
                                    <i class="bi bi-trash mx-1"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
