@model Biodata

<div class="table table-responsive">
    <table id="pendidikanTerakhir" class="table text-center align-middle">
        <thead class="">
            <tr class="">
                <th class="align-content-center">Nama Perusahaan</th>
                <th class="align-content-center"> Posisi Terakhir </th>
                <th class="align-content-center"> Pendapatan Terakhir </th>
                <th class="align-content-center">Tahun</th>
                @if (Model.RiwayatPekerjaan is null || Model.RiwayatPekerjaan.Any(x => x is null))
                {

                }
                else
                {
                    <th class="align-content-center"> Edit Data </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.RiwayatPekerjaan is null || Model.RiwayatPekerjaan.Any(x => x is null))
            {
            }
            else
            {

                foreach (var riwayatPekerjaan in Model.RiwayatPekerjaan)
                {
                    <tr>
                        <td>
                            <input class="border-0 disabled text-center" asp-for="@riwayatPekerjaan.NamaPerusahaan">
                        </td>
                        <td>
                            <input class="border-0 disabled text-center" asp-for="@riwayatPekerjaan.PosisiTerakhir">
                        </td>
                        <td>
                            <input class="border-0 disabled text-center" asp-for="@riwayatPekerjaan.PendapatanTerakhir">
                        </td>
                        <td>
                            <input class="border-0 disabled text-center" asp-for="@riwayatPekerjaan.Tahun">
                        </td>
                        <td>
                            <div>
                                <a class="text-info text-decoration-none mx-2" asp-controller="RiwayatPekerjaan"
                                    asp-action="Update" asp-route-biodataId="@riwayatPekerjaan.BiodataId"
                                    asp-route-id="@riwayatPekerjaan.Id">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="text-danger" asp-controller="RiwayatPekerjaan" asp-action="Delete"
                                    asp-route-biodataId="@riwayatPekerjaan.BiodataId" asp-route-id="@riwayatPekerjaan.Id">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
