@model Biodata

<div class="table table-responsive">
    <table id="pendidikanTerakhir" class="table text-center align-middle">
        <thead class="">
            <tr class="">
                <th class="align-content-center">Nama Perusahaan</th>
                <th class="align-content-center"> Posisi Terakhir </th>
                <th class="align-content-center"> Pendapatan Terakhir </th>
                <th class="align-content-center">Tahun</th>
                @if (Model.RiwayatPekerjaan is null || Model.RiwayatPekerjaan.Any(x => x is null))
                {

                }
                else
                {
                    <th class="align-content-center"> Edit Data </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.RiwayatPekerjaan is null || Model.RiwayatPekerjaan.Any(x => x is null))
            {
            }
            else
            {
                // Data not inputed again if biodata udpate validation fail when using foreach loop
                for (var i = 0; i < Model.RiwayatPekerjaan.Count; i++)
                {
                    <input asp-for="@Model.RiwayatPekerjaan[i].Id" hidden aria-hidden="true">
                    <input asp-for="@Model.RiwayatPekerjaan[i].BiodataId" hidden aria-hidden="true">
                    <tr>
                        <td>
                            <input class="border-0 disabled text-center" readonly
                                asp-for="@Model.RiwayatPekerjaan[i].NamaPerusahaan">
                        </td>
                        <td>
                            <input class="border-0 disabled text-center" readonly
                                asp-for="@Model.RiwayatPekerjaan[i].PosisiTerakhir">
                        </td>
                        <td>
                            <input class="border-0 disabled text-center" readonly
                                asp-for="@Model.RiwayatPekerjaan[i].PendapatanTerakhir">
                        </td>
                        <td>
                            <input class="border-0 disabled text-center" readonly asp-for="@Model.RiwayatPekerjaan[i].Tahun">
                        </td>
                        <td>
                            <div class="d-flex">
                                <a class="text-info text-decoration-none mx-2" asp-controller="RiwayatPekerjaan"
                                    asp-action="Update" asp-route-biodataId="@Model.RiwayatPekerjaan[i].BiodataId"
                                    asp-route-id="@Model.RiwayatPekerjaan[i].Id">
                                    <i class="bi bi-pencil mx-1"></i>
                                </a>
                                <a class="text-danger" asp-controller="RiwayatPekerjaan" asp-action="Delete"
                                    asp-route-biodataId="@Model.RiwayatPekerjaan[i].BiodataId"
                                    asp-route-id="@Model.RiwayatPekerjaan[i].Id" onclick="pekerjaanDelete(this, event)">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
